 <!DOCTYPE html>
  <html>
  <head>
      <title>Update profile</title>
      <style>
      table.center {
            margin-left: auto;
            margin-right: auto;
          }
      </style>
  </head>
  <body>
    <form method="post" >
      <fieldset>
        <legend>Update profile</legend>
        <table class="center">
          
          <tr>
            <td> ID </td>
            <td>:<%= user.id %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input type="text" value="<%= user.name %>" name="name"></td>
          </tr>
          </tr>
          <tr>
            <td> User Name </td>
            <td><input type="text" value="<%= user.username %>" name="username"></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" value="<%= user.password %>" required="required" name="password"  id="password"></td>
          </tr>

          <tr>
            <td>Phone no</td>
            <td><input type="text" value="<%= user.phone %>" required="required" name="phone"  id="phone"></td>
          </tr>
          <tr>
            <td><button type="submit" name="choice" value="Update" class="btn btn-primary">Update</button></td>
          </tr>
        </table>
    </fieldset>
  </form>

        <a href="/employee">Back</a>|<a href="/logout">Logout</a>

</body>
</html>